.OverflowMenuItem{
    border-bottom: 0.13rem solid #D3C9C9;
    padding: 0.63rem;
    display: flex;
    background-color: white;
    border-radius: 0.31rem;
}

.OverflowMenuItem:hover{
    background-color: #DCDCDC;
}