.dotdivider {
  border-radius: 50%;
  width: 8px;
  height: 8px;
  display: inline-block;
  margin-left: 12px;
  margin-right: 12px;
}

.red {
  background: var(--hilfling-samfundet-red);
}

.yellow {
  background: var(--hilfling-uka-yellow);
  border: #e3d515 solid 0.2px;
}

.orange {
  background: var(--hilfling-annet-orange);
}

.blue {
  background: var(--hilfling-isfit-blue);
}
