
.OverflowMenu {
    width: fit-content;
    border-radius: 0.63rem;
    -webkit-box-shadow: 0rem 0.25rem 1.5rem 0.25rem rgba(0,0,0,0.24);
    -moz-box-shadow: 0rem 0.25rem 1.5rem 0.25rem rgba(0,0,0,0.24);
    box-shadow: 0rem 0.25rem 1.5rem 0.25rem rgba(0,0,0,0.24);
    justify-content: space-evenly;
    position: absolute;
}
.hide{
    display: none;
}