.container {
  width: fit-content;
  height: fit-content;
}

.headerTextElement {
  margin: 1rem 2rem 1rem 0;
  user-select: none;
}

.headerTextElement:hover {
  transform: scale(1.05);
  cursor: pointer;
}
