.logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

.logo:hover {
  cursor: pointer;
}

.name {
  padding-left: 1rem;
  margin: auto 0;
  font-family: Roboto, Futura, "Trebuchet MS", Arial, sans-serif;
}
