@import "../../styles/globals.css";
@import "../../styles/variables.css";

.header {
  font-weight: normal;
  font-size: 1.8rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--hilfling-header-color);
}

.underline {
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: 0px;
  border: 1px solid #000000;
}
