.root {
  width: 900px;
  height: 600px;
  overflow-x: hidden;
  position: relative;
}

.container {
  width: auto;
  height: inherit;
  max-height: inherit;
  white-space: nowrap;
}

.container > * {
  white-space: initial;
}

.arrowButton {
  position: absolute;
  z-index: 1;
  top: 50%;
  margin-top: -29.5px;
}
.arrowButtonLeft {
  left: 0;
}

.arrowButtonRight {
  right: 0;
}

.carouselItemWrapper {
  height: inherit;
  max-height: inherit;
  position: relative;
  display: inline-block;
}

.size1 {
  width: 100%;
}

.imageLink {
  height: 0.8rem;
  width: 0.8rem;
  border-radius: 50%;
  border: #1b1b1b 1px;
  position: absolute;
  cursor: pointer;
  top: 90%;
}

.imageLinkActive {
  background: slategrey;
}
