.top {
	display: flex;
	flex-direction: column;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-top: 10px;
	margin-bottom: 10px;
	width: 328.53px;
}

.left {
	display: flex;
	flex-direction: row;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-top: 10px;
	margin-bottom: 10px;
	height: 164px;
}

.topsize {
	width: 328.53px;
	height: 218.67px;
}


.leftsize {
	width: 246.4px;
	height: 164px;
}

.card {
	height: auto;
}