@import "../../styles/globals.css";
@import "../../styles/variables.css";

.tab {
  color: white;
  height: 50px;
  min-width: 150px;
  font-size: 1.4rem;
  border-radius: 5px 5px 0px 0px;
  text-transform: capitalize;
}

.tab:focus {
  outline: none;
}

.tab:active {
  box-shadow: none;
  transform: scale(0.99);
}

.disabled {
  color: #888;
  background-image: linear-gradient(
    -180deg,
    var(--color-light-gray-2),
    var(--color-light-gray-3) 90%
  );
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.08);
}


.samfundet {
  background-color: var(--hilfling-samfundet-red);
  border-top-color: #aa1c28;
  border-right-color: #aa1c28;
  border-left-color: #aa1c28;
  border-bottom-color: transparent;
}
.uka {
  background-color: var(--hilfling-uka-yellow);
  border-color: #d1b828;
  border-right-color: #fcd82a;
  border-top-color: #f7d325;
  border-left-color: #e0c023b0;
  border-bottom-color: transparent;
}

.isfit {
  background-color: var(--hilfling-isfit-blue);
  border-top-color: rgb(9, 145, 190);
  border-left-color: rgb(9, 145, 190);
  border-right-color: rgb(9, 145, 190);;
  border-bottom-color: transparent;

}

.annet {
  background-color: var(--hilfling-annet-orange);
  border-top-color: #e59e2c;
  border-right-color: #efa732;
  border-left-color: #e09d30;
  border-bottom-color: transparent;
}


.active {
  background-color: white;
  border-top-color: #f4f4f4;
  border-left-color: #f4f4f4;
  border-right-color: #f4f4f4;
  border-bottom-color: transparent;
  color: #a3a3a3;
}