@import "../../styles/globals.css";
@import "../../styles/variables.css";

.tab {
  color: white;
  height: 41px;
  min-width: 115px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

.tab:focus {
  outline: none;
}

.tab:active {
  box-shadow: none;
  transform: scale(0.99);
}

.disabled {
  color: #888;
  background-image: linear-gradient(
    -180deg,
    var(--color-light-gray-2),
    var(--color-light-gray-3) 90%
  );
  box-shadow: 0 1px 15px rgba(0, 0, 0, 0.08);
}

.samfundet {
  background-color: var(--hilfling-samfundet-red);
  border-color: #aa1c28;
}
.uka {
  background-color: var(--hilfling-uka-yellow);
  border-color: #d1b828;
}

.isfit {
  background-color: var(--hilfling-isfit-blue);
  border-color: rgb(9, 145, 190);
}

.annet {
  background-color: var(--hilfling-annet-orange);
  border-color: #d4942c;
}

.active {
  background-color: white;
  border-color: #f4f4f4;
  color: #a3a3a3;
}
