
.ContentTab {
    margin-left: auto;
    margin-right: auto;
    width: 95%;
    padding-top: 0.9375rem; 
    padding-bottom: 0.9375rem; 
    padding: 2rem; 
    background-color: #F5F5F5;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    font-size: 1.12rem; 
    /* flex-wrap: wrap; */
}

.hide{
    display: none;
}